@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    ;
}
header{
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute;
    width: 100vw;
    height: 69px;
    left: 0px;
    top: 0px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 37px;
    font-weight: 700;
}
.corpo{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.botaocriarquizz{
    
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;

color: #EC362D;
}
.quizzlocal { /* Desktop 1  próprio quizz*/
    display: flex;
    width: 100vw;
    height: 400px;     
    MARGIN-top: 145px;   
    background-color: aqua;  
    justify-content: center;
}
.criarquizz { /* botão de criar o proprio quizz da tela 1*/ 
    width: 1051px;
    height: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    flex-direction: column;
    color: #B9B9B9;
    background-color: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
        
    DISPLAY:NONE;
}
.quizzCriados{
    width: 1051px;    
    display:flex;
    flex-direction: column;
    align-items: start;    
    justify-content: center;
    text-align: justify;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.quadros {
    display:flex;
    flex-direction: column;
    width: 1051px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    flex-wrap: wrap;
    overflow-x: scroll;
    justify-content: center;
}

.quadros div { /* div quizz individual*/

    width: 341px;
    height:181px;
    margin: 12px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(image.png);
    border-radius: 5px;

}
 ion-button ion-icon {
    color:#EC362D;
    height: 30px;
    width: 30px;
}


.listaquizz { /*Quizz da API - Tela 1 e 2*/
    width: 80vw;
    font-size: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.todosquizz { /*Quizz da API - Tela 1 e 2*/
    
    font-Weight: 700;
    font-Size: 20px;
}
.listaquizz div { /*Quizz da API(div do quizz) - Tela 1 e 2*/
    width: 341px;
    height:181px;
    margin: 12px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(image.png);
    border-radius: 5px;
}
.botaocriarquizz { /* criar Quizz botão da tela 1*/
    margin-top: 33px;
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    display: flex;    
    align-items: center;
    text-align: center;  
    justify-content: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;


}

.tela3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

.tela3 h1 {
    width: 224px;
    height: 27px;
    margin-top: 71px;
    font-weight: 700;
    font-size: 23px;
    color: #000000;
}

.tela3 div{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 27px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    
}

.tela3 input {
    box-sizing: border-box;
    width: 564px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-top: 21px;
    margin-bottom: -14px;
    align-self: center;

    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;

    padding-left: 23px;
    outline: none;
    resize: none;
}

.tela3 button {
    width: 368.86px;
    height: 54px;
    margin-top: 85px;
    margin-bottom: 85px;

    background: #EC362D;
    border-radius: 15px;
    border-width: 0px;

    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
}

.tela3 h2 {
    margin-top: 28px;
    margin-left: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.InfoBasica{
    align-items: center;
}

.InfoBasica div{
    height: 256px;
}

.aberto{
    min-height: 825px;
}
.Perguntas .fechado {
    min-height: 74px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Perguntas .fechado h2{
    margin-top: 0px;
}
.Perguntas img {
    height: 23px;
    margin-right: 18px;
}

.Perguntas .urlimagem {
    margin-bottom: 30px;
}

.escondido {
    display: none;
}