@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    ;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 69px;
    left: 0px;
    top: 0px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 37px;
    font-weight: 700;
}

.corpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botaocriarquizz {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EC362D;
}

.quizzlocal {
    /* Desktop 1  próprio quizz*/
    display: flex;
    width: 100vw;
    height: 400px;
    MARGIN-top: 145px;
    justify-content: center;
}

.criarquizz {
    /* botão de criar o proprio quizz da tela 1*/
    width: 1051px;
    height: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    flex-direction: column;
    color: #B9B9B9;
    background-color: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
}

.quizzCriados {
    width: 1051px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: justify;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.quizzCriados p {
    display: flex;
    align-items: center;
}

.quadros {
    display: flex;
    flex-direction: column;
    width: 1051px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    flex-wrap: wrap;
    overflow-x: scroll;
    justify-content: center;
}

.quadros div {
    /* div quizz individual*/

    width: 341px;
    height: 181px;
    margin: 12px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url(image.png);
    border-radius: 5px;

}

ion-button ion-icon {
    color: #EC362D;
    height: 30px;
    width: 30px;
}


#listaquizz {
    /*Quizz da API - Tela 1 e 2*/
    width: 80vw;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
}

.todosquizz {
    /*Quizz da API - Tela 1 e 2*/
    font-Weight: 700;
    font-Size: 20px;
}

#listaquizz div {
    width: 341px;
    height: 181px;
    margin: 12px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
}

.shadow {
    width: 341px;
    height: 181px;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);

}

#listaquizz div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
    border: 5px;
}

.title {
    width: 341px;
    height: 181px;
    font-weight: bold;
    overflow: visible;
    color: red;
}

.botaocriarquizz {
    /* criar Quizz botão da tela 1*/
    margin-top: 33px;
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;


}

/*Tela 3 */
.tela3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

.tela3 h1 {
    height: 27px;
    margin-top: 71px;
    font-weight: 700;
    font-size: 23px;
    color: #000000;
}

.tela3 div {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 27px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

}

.tela3 textarea,
.tela3 input {
    box-sizing: border-box;
    width: 564px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    margin-top: 21px;
    margin-bottom: -14px;
    padding-top: 13px;
    align-self: center;

    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;

    padding-left: 23px;
    outline: none;
    resize: none;
}

.tela3 button {
    width: 369px;
    height: 54px;
    margin-top: 85px;
    margin-bottom: 85px;

    background: #EC362D;
    border-radius: 15px;
    border-width: 0px;

    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
}

.tela3 h2 {
    margin-top: 28px;
    margin-left: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.InfoBasica {
    align-items: center;
}

.InfoBasica div {
    height: 256px;
}

.Perguntas .aberto {
    min-height: 825px;
}

.Perguntas .fechado,
.Niveis .fechado {
    height: 74px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fechado h2 {
    margin-top: 0px;
}

.Perguntas img,
.Niveis img {
    height: 23px;
    width: 26px;
    margin-right: 18px;
}

.Perguntas .urlimagemIncorreta,
.Perguntas .urlimagemIncorreta1 {
    margin-bottom: 30px;
}

.Niveis div {
    height: 439px;
}

.tela3 .descricaoNivel {
    height: 177px;
}

.tela3 .whitebtn {
    background: none;
    color: #818181;
    margin-top: -85px;

}

.escondido,
.Perguntas .escondido {
    display: none;
}

.Finalizacao .imagemQuizz {
    width: 500px;
    height: 266px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url("https://img.freepik.com/fotos-gratis/lindo-retrato-de-cachorro_23-2149218450.jpg?w=2000");
    background-size: cover;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 23px 23px
}

.Finalizacao .tituloQuizz {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
}



/* TELA 2*/
.tela2 {
    margin-top: 69px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tela2 .imagemquizz {
    width: 100%;
    height: 227px;
    background-size: cover;
}

.tela2 .imagemquizz div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.tela2 h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
}

.tela2 .question {
    margin-top: 42px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 759px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 28px 36.5px;

}

.tela2 .textopergunta {
    width: 100%;
    height: 138px;
    background-color: #434CA0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;

}

.tela2 .textopergunta p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.tela2 .respostas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.tela2 .respostas img {
    width: 330px;
    height: 175.2px;
}

.tela2 .respostas p {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: 10px 0px 15px 0px;
}

.tela2 .resultado {
    margin-top: 42px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    width: 759px;
    height: 430px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px;
    order: 1;

}

.tela2 .textoresultado {
    width: 100%;
    height: 99px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;


}

.tela2 .textoresultado h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.tela2 .resultado img {
    width: 364px;
    height: 273px;
}

.tela2 .resultado p {
    width: 47%;
    height: 273px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;

}

.tela2 .btnreiniciar {
    width: 260.38px;
    height: 52px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #FFF5F4;
    margin: 57px 0px 16px 0px;
    order: 2;
}

.tela2 .btnhome {
    width: 220px;
    height: 44px;
    background-color: transparent;
    border-radius: 15px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #818181;
    margin-bottom: 85px;
    order: 2;
}

.respondida .Nselecionado {
    opacity: 0.3;
}

.respondida .selecionado {
    opacity: 1;
}

.respondida .correta {
    color: #009C22;
}

.respondida .errada {
    color: #FF4B4B;
}